:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-bg-teriary: #333333;
  
  --color-text-primary: #000000;
  --color-text-secondary: #999999;
  --color-text-tertiary: #333333;
  --color-text-highlight: #0465ac;

  --color-border-primary: #e4e6e5;
}
