body {
  font-size: var(--text-base-size, 1em);
  font-family: var(--font-primary, sans-serif);
  color: var(--color-text-tertiary, hsl(240, 4%, 20%));
  background-color: var(--color-bg-secondary);
}

h1 {
  font-size: 24px;
  color: var(--color-text-tertiary);
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  color: var(--color-text-highlight);
  font-weight: 600;
}

h4 {
  font-size: 12px;
  color: var(--color-text-secondary);
  font-weight: 600;
}

p {
  font-size: 13px;
}

small, .text-sm {
  font-size: var(--text-sm, 0.833em);
}

// inline text
a, .link {
  color: var(--color-primary, hsl(220, 81%, 59%));
  text-decoration: underline;
}

strong {
  font-weight: bold;
}
